label{
    font-size: 18px;
}

.task-form{
    display: flex;
    flex-direction: column;
}

.task-form-all{
    display: flex;
    flex-direction: column;
    width: 450px;
}

h3{
    padding-left: 160px;
}

button {
    padding: 10px;
    background-color: rgb(98, 206, 112);
    border-radius: 20px;
    font-size: 20px;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

textarea{
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px;
}